<!DOCTYPE html>
<html>
<head>
    <title>Atividade de Prática em Angular</title>
</head>
<body>
    <h1>Atividade de Prática em Angular</h1>
    <h2>Informações do Aluno:</h2>
    <ul>
        <li><strong>Nome do Aluno:</strong> Ronaldo Paulo da Silva Filho</li>
        <li><strong>Matrícula:</strong> 20202370005</li>
        <li><strong>Curso:</strong> Sistemas para Internet</li>
        <li><strong>Disciplina:</strong> PWEB1</li>
        <li><strong>Professor:</strong> Gustavo Wagner Diniz Mendes</li>
        <li><strong>Semestre:</strong> 2023.1</li>
    </ul>
</body>
</html>